<!doctype html>
<html lang="en">
  <head>
    <title>Sửa danh mục</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="/css/admin.css">
<script src="/js/admin.js"></script>
  </head>
  <body>
    <%- include('admin-navbar'); -%>
    <!-- breadcum -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
      <li class="breadcrumb-item"><a href="/admin/danhmuc/sua/<%=id%>">Sửa danh mục</a></li>
  </ol>
    <form action="" method="POST" style="width:500px;margin: auto;">
      <label>Mã danh mục</label>
      <input type="" class="form-control" name="id_danh_muc" value="<%=id%>" readonly>
      <label>Tên danh mục</label>
      <input type="" class="form-control" name="ten_danh_muc" required>
      <button class="btn btn-success mt-3" type="submit">Sửa danh mục</button>
    </form>
  </body>
</html>