<div class="header">
  <div class="header-top">
      <div class="info">
          <span class="text1">Hotline: 1800.6018 (miễn phí) | </span>
          <span class="text1">Hệ thống 15 cửa hàng | </span>
          <span class="text1">Tuyển dụng</span>  
      </div>
  </div>
</div>
<div class="nav-menu">
<a href="/product">
  <label for="" class="logo">
    <i class="fas fa-cat"></i>
    <h3>Hentaiz</h3>
  </label>
</a>
  
  <ul class="menu-pc">
      <li> 
          <a href="/product">Điện thoại</a> 
          <ul class="sub-menu-pc">
              <li> <a href="">Samsung</a> </li>
              <li> <a href="">Apple</a> </li>
              <li> <a href="">Xiaomi</a> </li>
              <li> <a href="">Sony</a> </li>
          </ul>
      </li>
      <li> <a href="">Laptop</a> </li>
      <li> 
          <a href="/cart/checkout">
            Giỏ hàng
            <div class="hinhtron">
              <p id="quanity"><%=countItem %></p>
            </div>
          </a>

      </li>
      <li> <a href="">Hỗ trợ</a> </li>
  </ul>
  <div class="bar">
      <i class="fas fa-bars"></i>
  </div>
  
  <ul class="menu-mobile">
      <div class="close">
          <i class="fas fa-times"></i>
      </div>
      
      <li> 
          <a href="">Điện thoại</a> 
      </li>
      <li> 
          <a href="">Laptop</a> 
      </li>
      <li> <a href="">Giỏ hàng</a> </li>
      <li> <a href="">Hỗ trợ</a> </li>
  </ul>
</div>
    <!-- <% if(locals.user){ %>
      <p> <%= locals.user.name %></p>
    <% } %>  -->
    
  