img{
    width:60px;
}
a.btn{
}
@media only screen and (max-width:739px){
    img{
        width:40px;
    }
    a.btn{
        text-align: center;
        width: 20px;
    }
    #stt{
        display: none;
    }
    #name{
        width: 20%;

    }
    #price{
        /* width: 120px; */
    }
}
