*{margin:0;padding:0;}
:root{
    --background-menu : #34495e;
    --text-color-menu:#f2f2f2;
}
body{
    font-size: 16px;
    font-family: sans-serif;
}

.header .header-top{
    font-size: 14px;
    height: 36px;
    background-color: #333333;
    color: white;
}
.header .header-top .info{
    margin-right: 5%;
    line-height: 36px;
    float: right;
}

.cangiua{
    width: 90%;
    margin:auto;
}
#search{
    width: 100%;
    display: inline-flex;
    margin-top:1rem;
    margin-bottom:1rem;
}
#input-search{width: 70%;}
#btn-search{width: 25%;}
.nav-menu{
    background-color:  var(--background-menu) ;
    height: 50px;
    position: relative;
    line-height: 50px;
}
label.logo{
    top: 0px;
    position: absolute;
    left: 5%;
}
label.logo .fa-cat{
    color: black;
    font-size: 2em;
}
label.logo h3{
    color: #bdc3c7;
    font-size: 1.6em;
    padding-left:10px;
    display: inline;
    
}
ul.menu-pc{
    margin-right: 5%;
    float: right;
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
ul.menu-pc li{
    position: relative;
}

ul.menu-pc li a:first-child{
    padding:0px 15px 0px 15px;
    height: 50px;
    line-height: 50px;
    display: block;
    background-color:var(--background-menu);
    text-decoration: none;
    color:var(--text-color-menu);
    font-size: 14px;
    font-weight:700;
}
ul.sub-menu-pc{
   display: none;
   list-style: none;
}

ul.menu-pc li:hover ul.sub-menu-pc{
    position: absolute;
    top:50px; left: 0px;
    display: block;
}
ul.menu-pc li a:hover{
    color:#81ecec;
}

.phone .text{
    padding-top: 15px;
    padding-bottom: 15px;
}
.bar{
    display: none;
}
.fa-bars{
    position: absolute;
    top:2px;
    right: 0.5rem;
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
}
.menu-mobile{
    list-style: none;
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    width: 40%;
    padding-top:50px;
    background-color: #f1f1f1;
    transform: translateX(-100%);
    transition: 0.4s;
}
.menu-mobile li a{
    position: relative;
    display: block;
    text-decoration: none;
    height: 50px;
    color:black;
    line-height: 50px;
    padding-left:20px;
}
.hinhtron{
    position: absolute;
    top: 32px;
    right: 33px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #d63031;
    color: white;
    text-align: center;
}
#quanity{
    margin: -5px;
}
.menu-mobile li a:hover{
   background-color: burlywood;
}

.fa-times{
    position: absolute;
    top: 15px;
    right: 29px;
    font-size: 25px;
    cursor: pointer;
}
.dichchuyen{
    transform: translateX(0%);
}
.list-phone{
    margin-top:3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list-phone .box-item{
    width: 23%;
    margin-bottom: 1em;
}
.list-phone .box-item .item{
    width: 80%;
    margin: auto;
    display: block;
    padding:5px 0 5px 0;
    text-decoration: none;
}
.item h3{
    color:black;
    padding-top:5px;
    font-size: 1.2rem;
}
.item .price{
    color: red;
}
.item .description{
    color: black;
}

a{
    text-decoration: none;
}
/* phan information */
.footer .fa-cat{
    font-size: 2em;
    color:#fd79a8;
}
.fa-phone-alt{
    font-size: 20px;
}
.footer{
    background-color: #2d3436;  
}
.information{
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 1em;
    justify-content: center;
}
.information .column{
    width: 25%;
    box-sizing: border-box;
}
.information .column ul{
    list-style: none;
}
.information .column li{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #636e72;
    font-size: 12px;
}
.information .column .text1{
    padding:20px 0 10px 0px;
    color:#dfe6e9;
    font-size: 18px;
    font-weight: 600;
}
.column .logo h2{
    font-size: 20px;
    display: inline;
    padding-left: 10px;
    color:#fdcb6e;
}
.column .logo{
   padding:15px 0px 15px 0px;
}
.column .phone p{
    display: inline;
    padding-left: 10px;
    color: #636e72;
}
.column .phone{
    padding:15px 0px 15px 0px;
}
.column .social i{
    padding:20px 0px 15px 0px;
    color: #636e72;
    font-size: 25px;
    padding-right: 10px;
}




@media only screen and (max-width:739px){
    ul.menu-pc{
        display: none;
    }
    .bar{
        display: block;
        color: #f2f2f2;
    }
    .bar .fa-bars{
        color: #f2f2f2;
    }
    .list-phone .box-item{
        width: 50%;
    }
    .information .column{
        width: 50%;
        padding-left: 40px;
    }
    label.logo{
        cursor: pointer;
    }
    /* label.logo .fa-cat{
        display: none;
    } */
    label.logo h3{
        display: none;
    }
    .column .social i{
        padding:10px 0px 10px 0px;
        color: #636e72;
        font-size: 30px; 
        padding-right: 10px;
    }

}
@media only screen and (min-device-width: 320px) and (max-width: 480px) {
    .list-phone .box-item{
        width: 100%;
    }
    .information .column{
        width: 100%;
        padding-left: 30px;
    }
    label.logo .fa-cat{
        display: none;
    }
    
